 .one,.three{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   background: #44444430;
   margin: 0;
   padding: 0;
   height: 100vh;
}
 .image{
   align-content: center;
}
 img{
 max-width: 75%;
 height: auto;
 display: block;
 margin: auto;
}

.one .informations{
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 0 50px 0 50px;
}

.informations p{
   width: 70%;
   font-size: clamp(15px, 1.5vw, 25px);
   padding: 15px 0 15px 0;
}

.one .block_button {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding-right: 50px;
}

.block_button .Call_button{
   background: #008FFF;
   border-radius: 10px;
   padding: 0 20px 0 20px;
   cursor: pointer;
   max-height: 65px;
}
.Call_button h1{
   font-size: clamp(20px, 2vw, 30px);
   color: #c2c2c2;
   padding: 5px;
}
.block_button .more{
   width: 50%;
}
.more a{
   width: 100%;
   align-items: center;
   cursor: pointer;
}
.more p{ 
   font-size: clamp(10px, 2vw, 25px);
   min-width: 150px;
   text-align: end;
   text-wrap: nowrap;
}
.more{
   display: flex;
   justify-content: center;
}

.two{
   display: flex;
   flex-direction: row;
   align-items: center;
   height: 100vh;
}

.two .informations{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-width: 50%;
   max-height: 100vh;
   padding-left: 50px;
}



.two .block_info
{
   display: flex;
   flex-direction: row;
   padding-bottom: 30px;
   cursor: pointer;
   /* max-height: 100vh; */
}
.block_info.exp{
   cursor:default;
}

.block_info p{
   /* font-size: 20px; */
   padding: 0;
   /* width: 60%; */
}
.block_info svg
{
margin-right: 20px;
}

.three{
   display: flex;
   flex-direction: column;
   justify-content:space-around;
   align-items: center;
   height: 100vh;
}
.three .img{
width: 75%;
}
.three img{
   border-radius: 15px;
}

.three .team{
   display: flex;
   flex-direction: column; 
   align-items: center;
   padding-top: 5px;
   width: 30%;
}

.team h1{
   text-align: center;
   width: 180px;
   font-size: clamp(20px, 2.4vw, 30px);
   line-height: normal;
}
.three hr{
width: 180px;
height: 5px;
margin: 10px 0;
}

.three .informations{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 60%;
   max-height: 100vh;
}
.three .info{
   align-content: center;
   width: 60%;
   font-style: italic;
}

.three p{
   width: 90%;
   font-size: clamp(15px, 1.5vw, 25px);
   padding: 0 10px 10px 10px;
}

.three .team p{
   width:180px;
   font-size: clamp(10px, 1.2vw, 20px);
   text-align: center;
   opacity: 70%;
}


a{
   color: #008FFF;
   font-size: clamp(15px, 1.6vw, 25px);
   padding-right: 5px;

}


@media (max-width: 700px){
   h1{
      font-weight: 800;
   }
   .two,.three{
   flex-direction: column;
   margin: 20px 0 70px 0;
   padding: 0;
   height: max-content;
}
.one{
   flex-direction: column-reverse;
    height: max-content;
   padding-bottom: 20px;
}
.one img{
   padding: 20px 0;
}
.one .more p{
   font-size: clamp(10px, 4vw, 25px);
}
.two .informations{
   padding: 0;
   margin: 0 20px;
}
.two .info p{
   width: 100%;
   
}
.two .block_info{
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.block_info svg{
   width: 50px;
   height: 50px;
   margin: 10px 0;
}

.three .informations{
   flex-direction: column;
   width: 100%;
   align-items: center;
}

.three{
   margin-bottom: 0;
}
.three .team{
   margin: 20px 0;
}
.three .info{
   width: 300px;
   
}
.three .info svg{
   width: 13px;
   height: 13px;
}
.three img{
   max-width: 100%;
   margin-top: 25px;
}
.team h1{
   width: 140px;
}

}


