
* {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
   font-family: "Open Sans", sans-serif;
   font-optical-sizing: auto;
   /* font-weight: 500; */
   /* font-style: normal; */
   font-variation-settings:
      "wdth" 100;
   margin: 0;
   padding: 0;
   text-decoration: none;
}

h1,a{
font-family: Impact;
font-weight: bold;
font-size: clamp(20px, 2vw, 40px);
font-weight: 400;
/* line-height: 58px; */
letter-spacing: 0px;
}
h1{
   color: rgb(68, 68, 68);
}
p{
   color: #1A1A1A; 
   font-family: Arial, Helvetica, sans-serif;
}
