.Header{
    width: 100%;
    height:fit-content;
    padding: 10px 0 20px 0;
}
.Logo{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    
}
.Logo svg{
    margin: 0 15px 0 15px;
}

.Call{
    position: relative;
    width: max-content;
    margin-left: 15px;
}

.Call:before {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	bottom: 3px;
	right: 3px;
	background-color: #fff;
	z-index: 1;
    border-radius: 3px;
	
}
.Call:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(to right, #008FFF,#444444 );
	z-index: -1;
	border-radius: 3px;
}

.call_button{
z-index: 999;
position: relative;
display: flex;
flex-direction: row;
font-size: 30px;
align-items:center;
cursor: pointer;
height: 30px;
padding: 3px 10px 3px 10px
}
.Call p{
    color: transparent;
    background-clip: text;
    background-image:  linear-gradient(to right,#008FFF,#444444);
}
.Call svg{
    padding:2px 0 0 5px;
    
}

.Menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
    width: 100%;
    height: 50px;
    align-items: center;
}

hr{
    background: #444444;
    height: 35px;
    width: 2px;
    background: #008FFF;
    position:relative;
    border-radius: 10px;
}
.Menu .line{
    width: 75px;
    padding-left: 33px;
}
.Menu .MenuBar{
    display: flex;
    justify-content:space-around;
    width: 95%;
}
.MenuBar p{
    cursor: pointer;
}

